@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 96%;
    --foreground: 225 49% 18%;
    --card: 0 0% 100%;
    --card-foreground: 225 49% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 49% 18%;
    --primary: 224 70% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 49% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45%;
    --accent: 224 70% 94%;
    --accent-foreground: 224 70% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%;
    --input: 0 0% 89%;
    --ring: 224 70% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
}

.dark {
    --background: 234 18% 11%;
    --foreground: 0 17% 85%;
    --card: 235 17% 18%;
    --card-foreground: 0 17% 85%;
    --popover: 235 17% 18%;
    --popover-foreground: 0 17% 85%;
    --primary: 224 70% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 70% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 235 17% 22%;
    --muted-foreground: 0 0% 58%;
    --accent: 235 17% 26%;
    --accent-foreground: 0 17% 85%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 17% 26%;
    --input: 235 17% 22%;
    --ring: 224 70% 54%;
}

body {
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
